<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update A User</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/create-user">Create User</a>
    </div>
    <div class="form">
      <form action="/update" method="POST">
        <fieldset>
          <legend>Update a user</legend>
          <div class="input-group">
            <label for="">Email: </label>
            <input type="email" name="email" id="" value="<%= user.email %>" />
          </div>
          <div class="input-group">
            <label for="">Name:</label>
            <input type="text" name="name" id="" value="<%= user.name %>" />
          </div>
          <div class="input-group">
            <label for="">City: </label>
            <input type="text" name="city" id="" value="<%= user.city %>" />
          </div>
          <input type="hidden" name="id" value="<%= user.id %>" />
          <div class="input-group">
            <button>Save</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
