<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NODEJS</title>
  </head>
  <body>
    hello world with EJS!
    <img src="/images/icon-pc.webp" class="image-test" alt="" />
  </body>
</html>
